<header>
    <nav>
		<button id="toggle-menu"><i class="material-icons">menu</i></button>
		<ul>
            {% assign navbar-elements = (site.pages | sort: 'navbar-index')%}
			{% for nav in navbar-elements %}
			{% if nav.navbar-index %}
			<li><a class="{% if page.url == nav.url %}active{% endif %}" href="{{ nav.url | prepend: site.baseurl }}">{{ nav.title }}</a></li>
			{% endif %}
			{% endfor %}
        </ul>
		<button id="toggle-theme"><i class="material-icons">brightness_low</i></button>
    </nav>
</header>
