body {
    margin: 0;

    color: $text-color;
    background: $background-color;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}
*:focus {
  outline: 1px dotted $brand-color;
}
h1, p, ul {
    margin-bottom: $base-line-height * $base-font-size;
}
p {
	margin-top: 0;
}
h1, h2 {
    font-weight: 300;	
}
h1 {
    font-family: $screen-font-family;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
ul {
    padding-left: 2 * $spacing-unit;
}
ol li, ul li {
	margin-bottom: 0.8rem;
}
a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: darken($link-color, 10%);
    }
}
a.mark {
	font-family: $fancy-font-family;
	font-weight: bold;
}
body.dark-theme {
    color: $background-color;
    background: $text-color;

    a {
        color: lighten($link-color, 25%);

        &:visited {
            color: lighten($link-color, 10%);
        }
    }
}
body.animate {
    transition-property: background-color;
    transition-duration: $animation-duration;
}
