body {
    nav {
        margin: $spacing-unit 0;

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-start;

            @include on-tablet{
                display: none;
                position: fixed;
                margin: 0;
                top: 96px;
                left: 20%;
                width: 60%;
                box-sizing: border-box;
                padding: 0 $spacing-unit; 
            }
            @include on-mobile {
                top: 86px;
                left: 10%;
                width: 80%;
            }
            li {
                margin: 0;
                a {
                    display: block;
                    padding: 10px;
                    margin-right: $spacing-unit;
                    background: $background-color;
                    border: 2px solid transparent;
                    border-radius: 5px;
                    &:hover, &:focus {
                        outline: none;
                        border-color: $grey-color-light;
                        text-decoration: none;
                    }
                    &:active, &.current {
                        border-color: $brand-color;
                    }
                    @include on-tablet {
                        margin-right: 0;
                        margin-bottom: $spacing-unit;
                    }

                }
                &:last-of-type a {
                    margin-right: 0;
                }

            }
        }
        pancake {
            display: none;
            cursor: pointer;
            width: 40px;
            height: 25px;
            bar {
                display: block;
                background: $brand-color;
                width: 40px;
                height: 3px;
                margin-bottom: 8px;
                border-radius: 3px;
                transition: margin 0.2s, transform 0.4s, opacity 0.2s;
            }
            @include on-tablet {
                display: inline-block;
            }
        }
        @include on-tablet {
            position: fixed;
            z-index: 2;
            margin-top: $spacing-unit + ($base-line-height * $base-font-size / 2);
            &.shown{
                ul {
                    display: block;
                }
                pancake {
                    bar {
                        margin: 0;
                        &:nth-child(1) {
                            transform: translateY(10px) rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: translateY(5px) rotate(-45deg);
                        }
                        &:nth-child(2)  {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
    page-content{
        display: block;

        wrapper {
            display: block;
            position: relative;
            overflow: auto;
            border-top: 5px solid $brand-color;
            background: lighten($background-color, 2%);

            margin: 0 auto;
            padding: 0 $spacing-unit;
            padding-bottom: 3 * $spacing-unit + $base-line-height * 0.8 * $base-font-size;
            min-height: calc(100vh - 84.2px);

            @include on-desktop(){
                width: $desktop - $spacing-unit * 2;
            }
            content {
                display: block;
            }
            content.float {
                max-width: calc(70% - 20px);
                margin-left: $spacing-unit;
                float: right;
                @include on-mobile {
                    float: none;
                    max-width: 100%;
                    margin-left: 0;
                }
            }
            img {
                max-width: 30%;
                float: left;
                display: block;
                border-radius: 5px;
                margin-bottom: $spacing-unit;
                @include on-mobile {
                    margin-left: 20%;
                    border-radius: 50%;
                    max-width: 60%;
                    float: none;
                }
            }
            sidebar {
                display: block;
                overflow: auto;
                clear: left;
                address {
                    font-style: normal;
                    margin-bottom: $spacing-unit;
                }
            }
            bg-screen {
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                background: rgba(0,0,0,0.5);
            }
            img, content, sidebar, h1, footer {
                transition: filter 0.4s;
            }
            &.blur {
            bg-screen {
                display: block;
            }  
            img, content, sidebar, h1, footer {
                filter: blur(2px);
            }
            }
            footer {
                clear: right;
                padding: $spacing-unit;
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: $background-color;
                transition: background-color 0.4s;
                opacity: 0.7;
                font-size: 0.8em;
                p {
                    margin-bottom: 0;
                    span {
                        float: right;
                    }
                }
            }
            toggle-theme {
                display: block;
                position: absolute;
                top: $spacing-unit;
                right: $spacing-unit;
                // background: red;

                button {
                    display: block;
                    width: 15px;
                    height: 15px;
                    padding: 0;
                    margin: 0;
                    border: 0;
                    border-radius: 50%;
                    &::-moz-focus-inner {
                        border: 0;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                #toggle-btn {
                    padding: 2px;
                    padding-top: 15px;
                    height: 25px;
                    border: 1px solid darken($background-color, 10%);
                    background: darken($background-color, 2%);
                    border-radius: 9px;
                    position: relative;
                    &::before {
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        content: '';
                        width: 15px;
                        height: 15px;
                        background: lighten($brand-color, 5%);
                        border-radius: 50%;
                    }
                    &:focus {
                        border-color: $brand-color;
                    }
                }
                #auto-theme {
                    margin-top: 4px;
                    background-color: darken($background-color, 10%);
                    font: $base-font-size/$base-line-height $base-font-family;
                    color: $background-color;
                    &:hover {
                        background: darken($background-color, 20%);
                    }
                    &.activated {
                        color: lighten($brand-color, 40%);
                        background: lighten($brand-color, 5%);
                    }
                }
            }
        }
    }
@include on-tablet{
    h1 {
        margin-left: $spacing-unit + 40px;
        margin-right: $spacing-unit;
    }
}
}
body.dark-theme {
    page-content wrapper {
        color: $background-color;
        background-color: lighten($text-color, 2%);

        nav ul a {
            background: $text-color;
        }
        toggle-theme{
            #toggle-btn {
                background-color: $text-color;
                border-color: darken($text-color, 2%);
                &::before {
                    background-color: lighten($brand-color, 15%);
                    top: 10px;
                }
            }
            #auto-theme{
                background-color: lighten($text-color, 10%);
                color: $text-color;
                &:hover {
                    background-color: lighten($text-color, 20%);
                }
                &.activated {
                    color: darken($brand-color, 10%);
                    background-color: lighten($brand-color, 15%);
                }
            }
        }
        footer {
            background-color: $text-color;
        }
    }
}
body.animate {    
    wrapper {
        transition-property: background-color;
        transition-duration: $animation-duration;
	    nav li a {
		    transition-property: background-color, border-color;
		transition-duration: $animation-duration;
	    }
        #toggle-btn {
            transition-property: background-color, border-color;
            transition-duration: $animation-duration;
            
            &::before {
                transition-property: background-color, top;
                transition-duration: $animation-duration;
            }
        }
        #auto-theme {
            transition-property: background-color, color;
            transition-duration: $animation-duration;
        }
    }
}
