<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

  <body>
    <page-content>
      <wrapper>
	{% include header.html %}
        <button id="toggle-theme" onclick="toggleTheme()"></button>
	<h1>{{ site.title }}</h1>
  <img src="/img/profile.jpg" alt="Profile Picture">
	<content class="float">
	        {{ content }}
	</content>
	<sidebar>
		{% include contact.html %}
	</sidebar>

      <bg-screen onclick="toggleMenu()"></bg-screen>
      {% include footer.html %}
      </wrapper>
    </page-content>
  </body>

</html>
